.category {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 5px 5px 3px rgba(196, 196, 196, 0.2);
  padding: 10px 20px;

  table {
    table-layout: fixed;
    width: 100%;
    padding: 0;
    border-collapse: collapse;

    tr.header-border th {
      border-bottom: 1px solid #3f5e5a;
    }

    th,
    tr {
      padding: 0;
      margin: 0;
    }

    th.cat-name {
      width: 50%;
      text-align: start;
    }

    th.amount {
      width: 25%;
      text-align: right;
    }
  }

  .category-name {
    font-size: 1.2rem;
    font-weight: 800;
    flex: 2;
    align-self: flex-end;
    color: #018786;
  }
  .actual,
  .budgeted {
    font-size: 0.8rem;
    text-align: right;
    flex: 1;
    align-self: flex-end;
  }

  .new-item {
    color: #1bc771;
    height: 2.5rem;
  }

  .new-item-data {
    width: 100%;
  }
}

.new-category {
  color: #aaaaaa;
  input {
    color: #aaa;
  }

  .new-item {
    color: #aaa;
  }
}
