tr.budget-item {
  // display: flex;
  // flex-direction: row;
  width: 100%;
  padding: 0;

  td {
    height: 3rem;
  }

  // .budget-item-name {
  //   flex: 2;
  // }

  input {
    width: -webkit-fill-available;
  }
  .amount {
    // flex: 1;
    text-align: right;
  }

  .item-detail {
    font-size: 1rem;
  }

  td.item-name {
    width: 50%;

    .budget-item-name {
      width: 78%;
    }
  }

  td.item-amount {
    width: 25%;
  }

  .show-edit {
    display: inline-block;
    margin-right: 5px;
  }

  .hide-edit {
    display: none;
  }
}
