tr.budget-item {
  // display: flex;
  // flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0; // margin-top: 15px;
  // .budget-item-name {
  //   flex: 2;
  // }

  input {
    width: -webkit-fill-available;
  }
  .amount {
    // flex: 1;
    text-align: right;
  }

  .item-detail {
    font-size: 1rem;
  }

  td.item-name {
    width: 50%;
  }

  td.item-amount {
    width: 25%;
  }
}
