.budget {
  margin: 10px 20px;
  min-height: 300px;
  min-width: 500px;
  max-width: 550px;

  h3 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  input {
    border: hidden;
    background: transparent;
  }
}

.budget-name {
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
}

.budget-description {
  font-size: 1.2rem;
  width: 100%;
}
