.budget {
  margin: 10px 20px;
  padding: 5px 20px;
  min-height: 300px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 5px 5px 3px rgba(196, 196, 196, 0.2);

  input {
    border: hidden;
  }
}

.budget-name {
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
}

.budget-description {
  font-size: 1rem;
  width: 100%;
}
