.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.input-element {
  outline: none;
  border: none;
  border-bottom: 1px dashed #353831;
  background-color: #eeeeee;
  border-radius: 3px;
  font: inherit;
  padding: 10px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.input-element:focus {
  outline: none;
  background-color: lighten(#3f5e5a, 60);
}

.invalid {
  border: 1px solid red;
  background-color: rgb(241, 170, 163);
}

.register-label {
  font-size: 0.9rem;
  padding-left: 10px;
}
